.clase0 {
    grid-area: a;
}

.clase1 {
    grid-area: b;
}

.clase2 {
    background-color: yellow;
}

.container {
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: brown;
    display: none;
    grid-template: "a b"/40% auto;
}

#newArray {
    background-color: #1bc021;
    height: 40em;
    width: 40em;
    margin: auto;
}

.d1 {
    /* border: 1px solid #000; */
    width: 3em;
    height: 2em;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(43, 142, 223);
    border: 1px solid black;
}

.m {
    width: 3em;
    height: 2em;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: red;
    border: 1px solid black;
}

.ff {
    color: white;
    border-style: solid;
    border-color: blue;
    background-color: black;
}

input[type="checkbox"] {
    border-color: #0fbf12;
    color: red;
    background-color: green;
    border-style: solid;
    border-color: yellow;
}

td {}