* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1,
.container2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.274)), url("../images/fondodron.jpg");
    height: 53em;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.formulario1 {
    font-family: "Josefin Sans", sans-serif;
    margin: auto;
    right: 600px;
    background-color: rgba(255, 255, 255, 0.644);
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.233);
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 6px;
}

.container1 {
    display: grid;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.td3 {
    width: 18em;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
}

small {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    width: 20px;
    color: rgb(71, 70, 70);
}

input {
    margin-bottom: 6px;
    width: 100px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.644);
    text-align: center;
}

.inp {
    height: 40px;
}

.guardar {
    border-radius: 4px;
    font-weight: 700;
    width: 150px;
    height: 40px;
}

.guardar:hover {
    background-color: rgb(255, 255, 255);
}

.container2 {
    display: none;
    grid-template: "a d d" 170px "b d d" 390px "f c e" 280px/ 30% 35% 35%;
}

.instrucciones2 {
    grid-area: a;
}

.direccion2 {
    grid-area: b;
}

.entregas2 {
    grid-area: c;
}

.grilla2 {
    grid-area: d;
}

.mensaje2 {
    grid-area: e;
    overflow: scroll;
}

.upload2 {
    grid-area: f;
    text-align: center;
}

#download,
#enviarInput {
    height: 2.5em;
    width: 8em;
    margin-top: 1em;
}

.instrucciones2,
.direccion2,
.entregas2,
.grilla2,
.mensaje2,
.upload2 {
    margin: 1.2em;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.644);
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.233);
    border-radius: 4px;
}

.cuadricula {
    justify-self: center;
    border: solid gray;
    border-spacing: 0;
}

.m {
    background-image: url("../images/cuadricula.jpg");
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    width: 1.1em;
    height: 1em;
    text-align: center;
    align-items: center;
}

.d1,
.d2,
.d3 {
    background-image: url("../images/cuadricula.jpg");
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.d1 {
    color: red;
}

.d2 {
    color: blue;
}

.d3 {
    color: green;
}

.dr {
    width: 100px;
    height: 30px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 4px;
}